span {
    white-space: pre 
}

.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}

button {
    border: none;
    background: transparent;
}

.text-primary:hover, .text-secondary:hover {
    cursor: pointer;
}