<div class="row justify-content-center">
    <div class="row align-items-center">
        <button *ngIf="nombrePage.length > 1 && pagination !== nombrePage[0]" class="left text-primary" (click)="changePage(pagination-1)"><<</button>
        <div *ngFor="let page of nombrePage | paginationPipe :pagination" (click)="changePage(page)" [ngClass]="pagination === page?'text-primary':'text-secondary'">{{page+1}}<span class="text-secondary" *ngIf="page !== (nombrePage | paginationPipe :pagination)[(nombrePage | paginationPipe :pagination).length - 1]"> - </span></div>
        <button *ngIf="nombrePage.length > 1 && pagination !== nombrePage[nombrePage.length - 1]" class="right text-primary" (click)="changePage(pagination+1)">>></button>
    </div>
</div>
