header {
    padding: 10px;
}

.display {
    display: none;
    margin-left: 10px
}

@media (max-width: 719px)
 {
    .display {
        display: block;
    }
 }

 p {
     margin: 0;
     padding: 0;
     margin-left: 10px;
 }