<header class="row justify-content-between bg-primary">
    <div class="row align-items-center">
        <a [routerLink]="['']"><img height="40" src="assets/images/logo.png"></a> 
        <button *ngIf="display" class="display" (click)="openFilter()">{{'filter' | translate | async}}</button>
        <p class="text-white">{{title | translate | async}}</p>
    </div>
    <div class="row align-items-center">
        <app-lang></app-lang>
        <app-shopping-cart></app-shopping-cart>
    </div>

</header>
