<div *ngIf="cards$ | async as cards" class="row container-cards">
    <app-filter></app-filter>
    <div class="cards row flex-column">
        <div class="list-card row">
            <app-card *ngFor="let card of cards" [card]="card"></app-card>
        </div>
        <app-pagination></app-pagination>
    </div>
</div>
