.filter {
    padding: 10px;
    position: relative
}

.filterTransitionOpen {
    transform: translateX(0);
 }
 
 .filterTransitionClose {
     transform: translateX(0);
 }

.form-control {
    margin-top: 10px;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-top: 4px;
}

@media (max-width: 719px)
 {
     .filter {
         position: absolute;
         left: -220px;
         top: 0;
         z-index: 10000;
     }

     .filterTransitionOpen {
        transform: translateX(220px);
        transition-duration: 0.5s;
     }
     
     .filterTransitionClose {
         transform: translateX(-220px);
        transition-duration: 0.5s;
     }
 }

 