<div *ngIf="filter$ | async as filter" class="filter bg-secondary" #filter>
    
    <div *ngIf="isLoad$ | async ; else dataNotLoad" class="form-control">
        <!-- <label *translate="'CardsByPages'" class="text-primary">Cards by pages:</label> -->
        <label [translate]="'cardsByPages'" class="text-primary"></label>
        <select  (change)="changeFilter($event.target,'nbrByPage', filter, 'number')">
            <option *ngFor="let pagination of elementsByPages" [selected]="pagination === filter.nbrByPage" [ngValue]="pagination">{{pagination}}</option>
        </select>
    </div>

    <ng-template #dataNotLoad>
        <div class="form-control">
            <label [translate]="'loadingCards'" class="text-primary"></label>
        </div>
    </ng-template>
    

    <div class="form-control">
        <label [translate]="'rarity'" class="text-primary"></label>
        <select (change)="changeFilter($event.target,'rarity', filter, 'string')">
            <option  [selected]="filter.rarity == null" [ngValue]="null"></option>
            <option *ngFor="let rare of rarity$ | async" [selected]="rare === filter.rarity" [ngValue]="rare">{{rare}}</option>
        </select>
    </div>

    <div class="form-control row align-item-center">
        <label [translate]="'showShoppingCart'" class="text-primary"></label>
        <input (change)="changeFilter($event.target,'showShopping', filter, 'boolean')" type="checkbox" [value]="!filter.showShopping">
    </div>
</div>

