.shop {
    position: relative;
}

.shop:hover {
    cursor: pointer;
} 

.badge {
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    bottom: 5px;
    right: 5px;
}

.price {
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

a {
    margin-right: 20px;
}