<a class="shop" [routerLink]="['shopping']">
    <img width="40" height="40" src="assets/images/pokeball.png">
    <div *ngIf="cards.length > 0" class="badge bg-third text-white">
        {{cards.length}}
    </div>
    <div *ngIf="cards.length > 0" class="price text-white">
        {{cards | pricePipe}}
    </div>
</a>

