.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
 
.rotating {
    animation: rotating 2s linear infinite;
}