/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #3269B1;
    --secondary: #FFCB05;
    --third: #E63728;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header {
    position: fixed;
    height: 44px;
    width: 100%;
    z-index: 10;
}

.fake-banner {
    height: 64px;
}

.h-100 {
    height: 100%
}

/* components */
.filter {
    height: 100%;
    min-height: calc(100vh - 73px);
    width: 200px
}

@media (min-width: 980px)
{
    .cards {
        width: calc(100vw - 200px);
    }

    .card {
        width: calc((100vw - 200px - 90px)/5);
    }
}

@media (min-width: 720px) and (max-width: 980px)
{
    .cards {
        width: calc(100vw - 200px);
    }

    .card {
        width: calc((100vw - 200px - 70px)/3);
    }
}

/* formulaire */
select {
    font-size: 20px;
    color: #3269B1;
    background: transparent;
    outline: none;
    appearance: none;
    border: none;
    border-bottom: 2px #3269B1 solid;
    width: calc((100% - 10px) * 80 / 100);
}

/* Background */
.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.bg-third {
    background: var(--third);
}

.bg-white {
    background: white;
}

/*couleurs*/
.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-third {
    color: var(--third);
}

.text-white {
    color: white;
}

/* flexbox */
.row {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}


.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

