p {
    margin: 0;
    font-weight: bold;
}

.img {
    width: 100%;
}

img:hover {
    cursor: pointer;
}

.card {
    margin: 5px;
    position: relative;
    overflow: hidden;
} 

.info {
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    left: 0;
    bottom: -60px;
    height: 60px;
    font-size: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255, 203, 5, 0.9)
}

.info img, .info .outofstock {
    padding-right: 10px;
    margin-left: 5px;
}


.info:hover {
    cursor: pointer;
}

.infoTransitionOpen {
    transform: translateY(-60px);
    transition-duration: 0.5s;
 }
 
 .infoTransitionClose {
     transform: translateY(60px);
    transition-duration: 0.5s;
 }

 .pokeball-card {
    width: 40px;
    height: 40px;
}

 @media (min-width: 980px)
 {
     .cards {
         width: calc(100vw - 200px);
     }
 
     .card {
         width: calc((100vw - 200px - 90px)/5);
     }
 }

 @media (min-width: 981px) and (max-width: 1100px)
 {
    .pokeball-card {
        width: 30px;
        height: 30px;
    }

    .info {  
        bottom: -40px;
        height: 40px;
    }

    .infoTransitionOpen {
        transform: translateY(-40px);
        transition-duration: 0.5s;
     }
     
     .infoTransitionClose {
         transform: translateY(40px);
        transition-duration: 0.5s;
     }
 }
 
 @media (min-width: 720px) and (max-width: 980px)
 {
     .cards {
         width: calc(100vw - 200px);
     }
 
     .card {
         width: calc((100vw - 200px - 70px)/3);
     }

     .infoTransitionOpen {
        transform: translateY(0);
     }
     
     .infoTransitionClose {
         transform: translateY(0);
     }

     .info {
        bottom: 0px;
        height: 40px;
        background: rgba(255, 203, 5, 0.8)
    }

    .pokeball-card {
        width: 30px;
        height: 30px;
    }
    
 }

 @media (max-width: 719px)
 {
     .cards {
         width: calc(100vw);
     }
 
     .card {
         width: calc((100vw - 50px)/2);
     }

     .infoTransitionOpen {
        transform: translateY(0);
     }
     
     .infoTransitionClose {
         transform: translateY(0);
     }

     .info {
        bottom: 0px;
        height: 40px;
        background: rgba(255, 203, 5, 0.8)
    }

    .pokeball-card {
        width: 30px;
        height: 30px;
    }
 }