<div class="card" (mouseover)="showInfo()" (mouseout)="hideInfo()">
    <img class="img" [src]="card.images.image">
    <div class="row align-items-center info text-primary" #infoElement>
        <p *ngIf="card.tcgplayer?.prices?.holofoil?.market">{{card.tcgplayer?.prices?.holofoil?.market}}$</p>
        <p *ngIf="!card.tcgplayer?.prices?.holofoil?.market" class="outofstock" [translate]="'outOfStock'"></p>
        <img *ngIf="card.tcgplayer?.prices?.holofoil?.market" class="pokeball-card" src="assets/images/pokeball.png" (click)="addCard(card)" [attr.title]="'catch' | translate | async">
    </div>
</div>

