.shopping-card {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 95px;
    border: 4px #3269B1 solid;
}

.img-shop {
    position: absolute;
}

.fake-img {
    position: relative;
    width: 120px;
    overflow: hidden;
}

.container-card {
    width: 100vw;
}

p {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
}

.quantity {
    font-size: 40px;
}

.pokeball:hover {
    cursor: pointer;
}

table {
    width: 100%
}