<div class="container-card row justify-content-center">
    <div class="row justify-content-between shopping-card bg-secondary">
        <div class="fake-img h-100">
            <img class="img-shop" width="120" [src]="card.images.image">
        </div>
        <div class="text-primary">
            <p>{{'name' | translate | async}}: {{card.name}}</p>
            <p>{{'price' | translate | async}}: {{card.tcgplayer?.prices?.holofoil?.market}}€</p>
            <p>{{'rarity' | translate | async}} {{card.rarity}}</p>
        </div>
        <div class="quantity text-primary h-100 row flex-column justify-content-center">{{card.shoppingCart}}</div>
        <div class="h-100 row flex-column justify-content-center">
            <img class="pokeball" height="40" src="assets/images/pokeball_open.png" (click)="removeCard(card)" [attr.title]="'release' | translate | async">
        </div>
    </div>
</div>

