.lang {
    position: relative;
    margin-right: 10px;
}

.lang:hover {
    cursor: pointer;
}

.menu-lang {
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}