<div class="lang" tabindex="1" (blur)="closeList()" #lang>
    <img width="30" height="20" [src]="imageSelected" (click)="showList()">
    <div *ngIf="isShowList" class="menu-lang bg-secondary text-primary">
        <div *ngFor="let lang of languages" class="row" (click)="selectLang(lang)">
            <img width="30" height="20" [src]="lang.src">
            <p [translate]="lang.country"></p>
        </div>
    </div>
</div>


